@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");

.logo {
  width: 100% !important;
}
.getStarted-button {
  position: relative;
  height: 40px;
  width: 140px;
  max-width: 140px !important;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 5px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.getStarted-button.bn19 {
  background-image: linear-gradient(
    to right,
    #ecbfa5,
    #c5571b,
    #ddc797,
    #e85a19
  );
}

.getStarted-button:hover {
  background-position: 100% 0 !important;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  animation: bn54rotate 0.7s ease-in-out both;
}

.getStarted-button:hover .bn54span {
  letter-spacing: 0.7px;
  animation: bn54storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

.getStarted-button:focus {
  outline: none;
}

.Hero-h1 {
    background: rgb(237,183,155);
    background: linear-gradient(90deg, rgba(237,183,155,1) 0%, rgba(198,111,62,1) 46%, rgba(198,80,17,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200% auto;
}
@keyframes bn54rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes bn54storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
